<div class="text-center main">
	<h1 class="text-center">UX/UI + Web Developer</h1>
	<p class="text-center">{{ tagline }}</p>
</div>


<div class="work-section">
  <div class="work-item">
  	<a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/strange.png" /></a>
  	<br>
  	<a href="#"<p class="work-item-title">Strange App</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

  <div class="work-item">
    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/latelabs.png" /></a>
    <br>
    <a href="#"<p class="work-item-title">Late Labs</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

  <div class="work-item">
    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/gokrt.png" /></a>
    <br>
    <a href="#"<p class="work-item-title">Gokrt</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

  <div class="work-item">
    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/bright.png" /></a>
    <br>
    <a href="#"<p class="work-item-title">Bright</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

  <div class="work-item">
    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/secondlayer.png" /></a>
    <br>
    <a href="#"<p class="work-item-title">Second Layer</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

  <div class="work-item">
    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/everest.png" /></a>
    <br>
    <a href="#"<p class="work-item-title">Everest App</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

  <div class="work-item">
    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/ken_ben.png" /></a>
    <br>
    <a href="#"<p class="work-item-title">Ken & Ben</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

  <div class="work-item">
    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/ideaswap.jpg" /></a>
    <br>
    <a href="#"<p class="work-item-title">Idea Swap</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

  <div class="work-item">
    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/commonwealth.jpg" /></a>
    <br>
    <a href="#"<p class="work-item-title">Commonwealth Bank</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

  <div class="work-item">
    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/saf.jpg" /></a>
    <br>
    <a href="#"<p class="work-item-title">Swedish Armed Forces</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

  <div class="work-item">
    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/ilovegreen.jpg" /></a>
    <br>
    <a href="#"<p class="work-item-title">ILoveGreen.org</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

  <div class="work-item">
    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/nathantross/lipton.jpg" /></a>
    <br>
    <a href="#"<p class="work-item-title">Lipton Ice Tea</p></a>
    <p class="work-item-skill">UX, UI, Front-End</p>
  </div>

</div>

<div>



</div>
